openapi: 3.0.3
info:
    title: Payment Method Tokens
    description: The Payment Method Tokens API saves payment methods so payers don't have to enter details for future transactions. Payers can check out faster or pay without being present after they agree to save a payment method.<br><br>The API associates a payment method with a temporary setup token. Pass the setup token to the API to exchange the setup token for a permanent token.<br><br>The permanent token represents a payment method that's saved to the vault. This token can be used repeatedly for checkout or recurring transactions such as subscriptions.
    version: "3.1"
    contact: {}
servers:
    - url: https://api-m.sandbox.paypal.com
      description: PayPal Sandbox Environment
    - url: https://api-m.paypal.com
      description: PayPal Live Environment
tags:
    - name: plans
      description: Use the `/billing/plans` resource to create and manage plans.
    - name: subscriptions
      description: Use the `/billing/subscriptions` resource to create and manage subscriptions.
    - name: products
      description: Use `/products` resource to create and manage products.
    - name: orders
      description: <blockquote><strong>Deprecation notice:</strong> The <code>/v1/payments</code> endpoint is deprecated. Use the <code>/v2/payments</code> endpoint instead. For details, see <a href="/docs/checkout/integrate/">PayPal Checkout Basic Integration</a>.</blockquote>Use the <code>/orders</code> resource to authorize, capture, void, and show details for an order.<blockquote><strong>Note:</strong> You cannot refund an order directly. Instead, you must refund a completed payment for an order. For integration information, see <a href="/docs/integration/direct/payments/orders/">Orders</a> and <a href="/docs/integration/direct/payments/refund-payments/">refund payment</a>.</blockquote>For more information, see also <a href="/docs/integration/direct/payments/orders/">Orders</a>.
    - name: orders-payment-actions
      description: Use the `/checkout/orders` resource with the `/pay` action to pay for an order. When you [create an order](#orders_create), the response includes an approval URL. Redirect the customer to this approval URL.
    - name: trackers
      description: Use the `/trackers` resource to create and manage tracking information for PayPal transactions.
    - name: disputes
      description: Use the `/disputes` resource to list disputes, create disputes, show dispute details, and partially a dispute. Normally, an agent at PayPal creates disputes but now you can run test cases in the sandbox that create disputes.
    - name: disputes-actions
      description: Use the `/disputes` resource with a dispute ID and an action to:<ul><li>Accept a claim.</li><li>Accept an offer to resolve a dispute.</li><li>Acknowledge the return of an item related to a dispute.</li><li>Settle a dispute.</li><li>Appeal a dispute.</li><li>Cancel a dispute.</li><li>Change the reason for a dispute.</li><li>Deny an offer to resolve dispute.</li><li>Escalate a dispute to a claim.</li><li>Make an offer to resolve a dispute.</li><li>Make an offer to resolve a dispute.</li><li>Provide evidence for a dispute.</li><li>Provide supporting information for dispute.</li><li>In the sandbox, update the dispute status.</li><li>Send a message about a dispute to the other party in the dispute.</li><ul>
    - name: customer-referred-disputes
      description: Use the `/customer/referred-disputes` resource to create a dispute for a referred case that was created by a partner or marketplace, show details for a referred dispute, by ID, notify referred refunds completed to PayPal, notify PayPal about referred dispute adjudication updates, and determine the dispute eligibility for referred disputes.
    - name: validate-eligibility
      description: Use the `/validate-eligibility/` resource to determine whether you can create a case for a transaction.
    - name: compute-metrics
      description: Use the `/compute-metrics` resource to provide metrics for all disputes.
    - name: validate-referred-dispute-eligibility
      description: Use the `/validate-referred-dispute-eligibility` resource to determine whether you can create a referred case for a transaction, by encrypted transaction ID.
    - name: referred-disputes
      description: Use the `/referred-disputes` resource to create a dispute for a referred case that was created by a partner or marketplace, show details for a referred dispute, by ID, notify referred refunds completed to PayPal, notify PayPal about referred dispute adjudication updates, and determine the dispute eligibility for referred disputes.
    - name: referred-disputes-actions
      description: Use the `/referred-disputes` resource with a dispute ID and an action to notify PayPal about adjudication updates for a referred dispute and notify PayPal about a refund for a referred dispute.
    - name: partner-actions
      description: Use the `/disputes/{id}/partner-actions/` resource to show dispute action details and partially update a dispute action.
    - name: search-suggestions
      description: Use the `/search-suggestions` resource to show search suggestions.
    - name: dispute-events
      description: Use the `/dispute-events` resource to send dispute events.
    - name: refund-preference
      description: Use the `/disputes/{id}/provide-refund-preference` resource to provide refund preferences for the dispute.
    - name: merchant-integration
      description: Enables you to get information about a seller-partner integration.
    - name: partner-referrals
      description: Enables you to create and get information about shared customer data.
    - name: partner-referral-link
      description: Links partner-referral data with a PayPal account.
    - name: cancel-onboarding
      description: Enables you to cancel an in-progress seller onboarding.
    - name: partner
      description: Enables you to create, update and read partner agreements and preferences.
    - name: invoices
      description: Use the `/invoices` resource to create, update, and send invoices and invoice reminders. To manage invoices, you can also list invoices, show details for invoices, delete draft invoices, and cancel sent invoices. You can also record payments for invoices to mark them as fully or partially paid, or record refunds for invoices to mark them as fully or partially refunded. You can create QR codes for invoices that can be scanned, viewed, and paid by a mobile phone.
    - name: templates
      description: Use the `/templates` resource to create, list, show details for, update, and delete invoice templates. Use the `/templates` resource when you create a third-party invoicing application. For instance, a business can create a template with predefined invoice data. Later, the business can select the template to populate the invoice data.<blockquote><strong>Note:</strong> To upload a logo to display on an invoice, you can use the <strong>Template Settings</strong> dashboard to <a href="https://www.paypal.com/invoice/settings/templates">create a template</a>. When you create an invoice, you can use the URI for that logo.</blockquote>
    - name: files
      description: Use the `/files` resource to upload a file attachment for an invoice.
    - name: group-invoices
      description: Use the `/group-invoices` resource to create a batch, or group of, invoices.
    - name: search
      description: Use the `/search` resource to search for invoices.
    - name: summaries
      description: Use the `/summaries` resource to list invoice summary information, including counts. The list is grouped by invoice status.
    - name: search-invoices
      description: Use the `/search-invoices` resource to search for and list invoices that match search criteria.
    - name: merchant-config
      description: Use the `/merchant-config` resource to create, update and show details of merchant configuration.
    - name: webhooks
      description: Use the `/webhooks` resource to subscribe your webhook listener to events, list webhooks for an app, show details for, update, delete, and list event subscriptions for webhooks.
    - name: webhooks-lookup
      description: Use the `/webhooks-lookup` resource to create, list, show details for, and delete webhook lookups.
    - name: verify-webhook-signature
      description: Use the `/verify-webhook-signature` resource to verify a webhook signature.
    - name: webhooks-event-types
      description: Use the `/webhooks-event-types` resource to list available events to which any webhook can subscribe.
    - name: webhooks-events
      description: Use the `/webhooks-events` resource to list, show details for, and resend event notifications.
    - name: simulate-event
      description: Use the `/simulate-event` resource to use a sample payload to simulate a webhook event. The events that this call generates only serve to validate the connection to the listener URL and to show how webhook events look. <blockquote><strong>Note:</strong> You can also use the <a href="/docs/api/notifications/webhooks/simulator/">Webhooks simulator</a> to simulate webhook events.</blockquote>
    - name: publish-event-with-payload
      description: Use the `/publish-event-with-payload` resource to publish an event with a specified payload.
    - name: publish-event-with-reference
      description: Use the `/publish-event-with-reference` resource to publish an event with a specified reference.
    - name: webhook-event-delivery-status
      description: Use the `/webhook-event-delivery-status` resource to show the webhook event send status.
    - name: webhooks-error-types
      description: Use the `/error-types` resource to create and list available webhook error types.
    - name: webhooks-errors
      description: Use the `/webhooks-errors` resource to create, list, show details for, and update webhook errors.
    - name: batch-resend
      description: Use the `/batch-resend` resource to send out IPN/Webhooks in batches.
    - name: web-profiles
      description: Use the `/payment-experience/web-profiles` resource to create, show details for, list, update, partially update, and delete web experience profiles.
    - name: payment
      description: <blockquote><strong>Deprecation notice:</strong> The <code>/v1/payments</code> endpoint is deprecated. Use the <code>/v2/payments</code> endpoint instead. For details, see <a href="/docs/checkout/integrate/">PayPal Checkout Basic Integration</a>.</blockquote>Use the <code>/payment</code> resource to create a <em>sale</em>, an <em>authorized payment</em>, or an <em>order</em>. A sale is a direct credit card payment, stored credit card payment, or PayPal payment. An authorized payment places funds on hold to be captured later. An order is a purchase that a customer has approved but for which the funds are not placed on hold. You can also use this resource to execute approved PayPal payments and show details for, update, and list payments. For more information, see also <a href="/docs/integration/direct/payments/"Payments</a>.
    - name: sale
      description: <blockquote><strong>Deprecation notice:</strong> The <code>/v1/payments</code> endpoint is deprecated. Use the <code>/v2/payments</code> endpoint instead. For details, see <a href="/docs/checkout/integrate/">PayPal Checkout Basic Integration</a>.</blockquote>A <em>sale</em> is a completed payment. Use the <code>/sale</code> resource to show sale details and refund a sale. For more information, see also <a href="/docs/integration/direct/payments/refund-payments/">Refund payments</a>.
    - name: authorization
      description: <blockquote><strong>Deprecation notice:</strong> The <code>/v1/payments</code> endpoint is deprecated. Use the <code>/v2/payments</code> endpoint instead. For details, see <a href="/docs/checkout/integrate/">PayPal Checkout Basic Integration</a>.</blockquote>Use the <code>/authorization</code> resource and related sub-resources to show details for, capture, void, and reauthorize an authorization.
    - name: capture
      description: <blockquote><strong>Deprecation notice:</strong> The <code>/v1/payments</code> endpoint is deprecated. Use the <code>/v2/payments</code> endpoint instead. For details, see <a href="/docs/checkout/integrate/">PayPal Checkout Basic Integration</a>.</blockquote>Use the <code>/capture</code> resource and sub-resources to show details for and refund captured payments.
    - name: refund
      description: <blockquote><strong>Deprecation notice:</strong> The <code>/v1/payments</code> endpoint is deprecated. Use the <code>/v2/payments</code> endpoint instead. For details, see <a href="/docs/checkout/integrate/">PayPal Checkout Basic Integration</a>.</blockquote>Use the <code>/refund</code> resource to show details for a refund on direct and captured payments.
    - name: receipt
      description: <blockquote><strong>Deprecation notice:</strong> The <code>/v1/payments</code> endpoint is deprecated. Use the <code>/v2/payments</code> endpoint instead. For details, see <a href="/docs/checkout/integrate/">PayPal Checkout Basic Integration</a>.</blockquote>Use the <code>/receipt</code> resource to show details for a payment receipt.
    - name: authorizations
      description: Use the `/authorizations` resource to show details for, capture payment for, reauthorize, and void authorized payments.
    - name: captures
      description: Use the `/captures` resource to show details for and refund a captured payment.
    - name: refunds
      description: Use the `/refunds` resource to show refund details.
    - name: assets
      description: Assets APIs for Checkout
    - name: cancel-payment
      description: Use the <code>/cancel-payment</code> resource to cancel an order capture or order authorization by <code>PayPal-Request-Id</code>. The merchant triggers the cancel action.
    - name: find-eligible-methods
      description: Use the `/find-eligible-methods` resource to show list of eligible payment methods for given customer/order context.
    - name: payment-resource-operations
      description: Use the `/payment-resource-operations` resource to show verifications details.
    - name: payouts
      description: Use the `/payouts` resource to create a batch payout, update the status for a batch payout, show the status of a batch payout with the transaction status and other data for individual payout items, and request approval for a batch payout.
    - name: payouts-item
      description: Use the `/payouts-item` resource to show payout item details and cancel an unclaimed payout item.
    - name: payouts-statistics
      description: Use the `/payouts-statistics` resource to show statistics for a batch payout by date range.
    - name: payouts-disbursement-notifications
      description: Use the `payouts/disbursement-notifications` resource for status updates from <code>VENMO</code>
    - name: transactions
      description: Use the `/transactions` resource to list transactions.
    - name: partner-transactions
      description: Use the `/partner-transactions` resource to list transactions.
    - name: balances
      description: Use the `/balances` resource to list balances.
    - name: trackers-batch
      description: Use the `/trackers-batch` resource to add tracking information for multiple PayPal transactions.
    - name: carriers-recommend
      description: Use the `/carriers-recommendations` to detect the possible carriers corresponding the tracking info from tracking aggregator.
    - name: carriers
      description: Use the `/carriers` resource to list/detect all the carriers available for tracking in PayPal and its subsidiary.
    - name: shipments
      description: Use the `/shipments` resource to fetch all the shipments associated with a given Paypal Account Id.
    - name: shipment-tracker
      description: Use the `/shipment-tracker` resource to track the shipment.
    - name: unsubscribe-shipment-tracking
      description: Use the `/unsubscribe-shipment-tracking` resource to unsubscribe from multiple shipments.
    - name: payment-tokens
      description: Use the `/vault/payment-tokens` resource to create, retrieve, and delete a payment token that may optionally be associated with a customer.
    - name: setup-tokens
      description: Use the `/vault/setup-tokens` resource to create and retrieve temporary vault payment methods.
    - name: tokens
      description: Use the `/vault/tokens` resource to detokenize a vault token to retrieve details associated to the underlying payment source.
    - name: customers
      description: Use the `/vault/customers` resource to create, update, get and delete a customer.
externalDocs:
    url: https://developer.paypal.com/docs/api/vault/v3/
paths:
    /v1/billing/plans:
        post:
            summary: Create plan
            description: Creates a plan that defines pricing and billing cycle details for subscriptions.
            operationId: plans.create
            responses:
                "200":
                    description: A successful request returns the HTTP `200 OK` status code and a JSON response body that shows billing plan details.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/plan'
                            examples:
                                plan:
                                    value:
                                        id: P-5ML4271244454362WXNWU5NQ
                                        product_id: PROD-XXCD1234QWER65782
                                        name: Video Streaming Service Plan
                                        description: Video Streaming Service basic plan
                                        status: ACTIVE
                                        billing_cycles:
                                            - frequency:
                                                interval_unit: MONTH
                                                interval_count: 1
                                              tenure_type: TRIAL
                                              sequence: 1
                                              total_cycles: 2
                                              pricing_scheme:
                                                fixed_price:
                                                    value: "3"
                                                    currency_code: USD
                                                version: 1
                                                create_time: "2020-05-27T12:13:51Z"
                                                update_time: "2020-05-27T12:13:51Z"
                                            - frequency:
                                                interval_unit: MONTH
                                                interval_count: 1
                                              tenure_type: TRIAL
                                              sequence: 2
                                              total_cycles: 3
                                              pricing_scheme:
                                                fixed_price:
                                                    currency_code: USD
                                                    value: "6"
                                                version: 1
                                                create_time: "2020-05-27T12:13:51Z"
                                                update_time: "2020-05-27T12:13:51Z"
                                            - frequency:
                                                interval_unit: MONTH
                                                interval_count: 1
                                              tenure_type: REGULAR
                                              sequence: 3
                                              total_cycles: 12
                                              pricing_scheme:
                                                fixed_price:
                                                    currency_code: USD
                                                    value: "10"
                                                version: 1
                                                create_time: "2020-05-27T12:13:51Z"
                                                update_time: "2020-05-27T12:13:51Z"
                                        payment_preferences:
                                            auto_bill_outstanding: true
                                            setup_fee:
                                                value: "10"
                                                currency_code: USD
                                            setup_fee_failure_action: CONTINUE
                                            payment_failure_threshold: 3
                                        taxes:
                                            percentage: "10"
                                            inclusive: false
                                        create_time: "2020-05-27T12:13:51Z"
                                        update_time: "2020-05-27T12:13:51Z"
                                        links:
                                            - href: https://api-m.paypal.com/v1/billing/plans/P-5ML4271244454362WXNWU5NQ
                                              rel: self
                                              method: GET
                                            - href: https://api-m.paypal.com/v1/billing/plans/P-5ML4271244454362WXNWU5NQ
                                              rel: edit
                                              method: PATCH
                                            - href: https://api-m.paypal.com/v1/billing/plans/P-5ML4271244454362WXNWU5NQ/deactivate
                                              rel: deactivate
                                              method: POST
                                            - href: https://api-m.paypal.com/v1/billing/plans/P-5ML4271244454362WXNWU5NQ/update-pricing-schemes
                                              rel: edit
                                              method: POST
                "201":
                    description: A successful request returns the HTTP `201 Created` status code and a JSON response body that shows billing plan details.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/plan'
                "400":
                    description: Bad Request. Request is not well-formed, syntactically incorrect, or violates schema.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_400'
                                    - $ref: '#/components/schemas/plans.create-400'
                "401":
                    description: Authentication failed due to missing authorization header, or invalid authentication credentials.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_401'
                                    - $ref: '#/components/schemas/401'
                "403":
                    description: Authorization failed due to insufficient permissions.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_403'
                                    - $ref: '#/components/schemas/403'
                "422":
                    description: The requested action could not be performed, semantically incorrect, or failed business validation.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_422'
                                    - $ref: '#/components/schemas/422'
                "500":
                    description: An internal server error has occurred.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/error_500'
                default:
                    $ref: '#/components/responses/default'
            parameters:
                - $ref: '#/components/parameters/prefer'
                - $ref: '#/components/parameters/paypal_request_id'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/plan_request_POST'
                        examples:
                            plan_request_post:
                                value:
                                    product_id: PROD-XXCD1234QWER65782
                                    name: Video Streaming Service Plan
                                    description: Video Streaming Service basic plan
                                    status: ACTIVE
                                    billing_cycles:
                                        - frequency:
                                            interval_unit: MONTH
                                            interval_count: 1
                                          tenure_type: TRIAL
                                          sequence: 1
                                          total_cycles: 2
                                          pricing_scheme:
                                            fixed_price:
                                                value: "3"
                                                currency_code: USD
                                        - frequency:
                                            interval_unit: MONTH
                                            interval_count: 1
                                          tenure_type: TRIAL
                                          sequence: 2
                                          total_cycles: 3
                                          pricing_scheme:
                                            fixed_price:
                                                value: "6"
                                                currency_code: USD
                                        - frequency:
                                            interval_unit: MONTH
                                            interval_count: 1
                                          tenure_type: REGULAR
                                          sequence: 3
                                          total_cycles: 12
                                          pricing_scheme:
                                            fixed_price:
                                                value: "10"
                                                currency_code: USD
                                    payment_preferences:
                                        auto_bill_outstanding: true
                                        setup_fee:
                                            value: "10"
                                            currency_code: USD
                                        setup_fee_failure_action: CONTINUE
                                        payment_failure_threshold: 3
                                    taxes:
                                        percentage: "10"
                                        inclusive: false
            security:
                - Oauth2:
                    - https://uri.paypal.com/services/subscriptions
            tags:
                - plans
            servers:
                - url: https://api-m.sandbox.paypal.com
                  description: PayPal Sandbox Environment
                - url: https://api-m.paypal.com
                  description: PayPal Live Environment
        get:
            summary: List plans
            description: Lists billing plans.
            operationId: plans.list
            responses:
                "200":
                    description: A successful request returns the HTTP `200 OK` status code and a JSON response body that lists billing plans.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/plan_collection'
                "400":
                    description: Request is not well-formed, syntactically incorrect, or violates schema.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_400'
                                    - $ref: '#/components/schemas/400'
                "401":
                    description: Authentication failed due to missing authorization header, or invalid authentication credentials.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_401'
                                    - $ref: '#/components/schemas/401'
                "403":
                    description: Authorization failed due to insufficient permissions.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_403'
                                    - $ref: '#/components/schemas/403'
                "404":
                    description: The specified resource does not exist.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/error_404'
                "500":
                    description: An internal server error has occurred.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/error_500'
                default:
                    $ref: '#/components/responses/default'
            parameters:
                - $ref: '#/components/parameters/prefer'
                - $ref: '#/components/parameters/product_id'
                - $ref: '#/components/parameters/plan_ids'
                - $ref: '#/components/parameters/page_size'
                - $ref: '#/components/parameters/page'
                - $ref: '#/components/parameters/total_required'
            security:
                - Oauth2:
                    - https://uri.paypal.com/services/subscriptions
            tags:
                - plans
            servers:
                - url: https://api-m.sandbox.paypal.com
                  description: PayPal Sandbox Environment
                - url: https://api-m.paypal.com
                  description: PayPal Live Environment
    /v1/billing/plans/{id}:
        get:
            summary: Show plan details
            description: Shows details for a plan, by ID.
            operationId: plans.get
            responses:
                "200":
                    description: A successful request returns the HTTP `200 OK` status code and a JSON response body that shows plan details.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/plan'
                "401":
                    description: Authentication failed due to missing authorization header, or invalid authentication credentials.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_401'
                                    - $ref: '#/components/schemas/401'
                "403":
                    description: Authorization failed due to insufficient permissions.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_403'
                                    - $ref: '#/components/schemas/403'
                "404":
                    description: The specified resource does not exist.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_404'
                                    - $ref: '#/components/schemas/404'
                "500":
                    description: An internal server error has occurred.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/error_500'
                default:
                    $ref: '#/components/responses/default'
            parameters:
                - $ref: '#/components/parameters/id'
            security:
                - Oauth2:
                    - https://uri.paypal.com/services/subscriptions
            tags:
                - plans
            servers:
                - url: https://api-m.sandbox.paypal.com
                  description: PayPal Sandbox Environment
                - url: https://api-m.paypal.com
                  description: PayPal Live Environment
        patch:
            summary: Update plan
            description: Updates a plan with the `CREATED` or `ACTIVE` status. For an `INACTIVE` plan, you can make only status updates.<br/>You can patch these attributes and objects:<table><thead><tr><th>Attribute or object</th><th>Operations</th></tr></thead><tbody><tr><td><code>description</code></td><td>replace</td></tr><tr><td><code>payment_preferences.auto_bill_outstanding</code></td><td>replace</td></tr><tr><td><code>taxes.percentage</code></td><td>replace</td></tr><tr><td><code>payment_preferences.payment_failure_threshold</code></td><td>replace</td></tr><tr><td><code>payment_preferences.setup_fee</code></td><td>replace</td></tr><tr><td><code>payment_preferences.setup_fee_failure_action</code></td><td>replace</td></tr><tr><td><code>name</code></td><td>replace</td></tr></tbody></table>
            operationId: plans.patch
            responses:
                "204":
                    description: A successful request returns the HTTP `204 No Content` status code with no JSON response body.
                "400":
                    description: Request is not well-formed, syntactically incorrect, or violates schema.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_400'
                                    - $ref: '#/components/schemas/plans.patch-400'
                "401":
                    description: Authentication failed due to missing authorization header, or invalid authentication credentials.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_401'
                                    - $ref: '#/components/schemas/401'
                "403":
                    description: Authorization failed due to insufficient permissions.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_403'
                                    - $ref: '#/components/schemas/403'
                "404":
                    description: The specified resource does not exist.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_404'
                                    - $ref: '#/components/schemas/404'
                "422":
                    description: The requested action could not be performed, semantically incorrect, or failed business validation.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_422'
                                    - $ref: '#/components/schemas/plans.patch-422'
                "500":
                    description: An internal server error has occurred.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/error_500'
                default:
                    $ref: '#/components/responses/default'
            parameters:
                - $ref: '#/components/parameters/id'
            requestBody:
                required: true
                $ref: '#/components/requestBodies/patch_request'
            security:
                - Oauth2:
                    - https://uri.paypal.com/services/subscriptions
            tags:
                - plans
            servers:
                - url: https://api-m.sandbox.paypal.com
                  description: PayPal Sandbox Environment
                - url: https://api-m.paypal.com
                  description: PayPal Live Environment
    /v1/billing/plans/{id}/activate:
        post:
            summary: Activate plan
            description: Activates a plan, by ID.
            operationId: plans.activate
            responses:
                "204":
                    description: A successful request returns the HTTP `204 No Content` status code with no JSON response body.
                "401":
                    description: Authentication failed due to missing authorization header, or invalid authentication credentials.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_401'
                                    - $ref: '#/components/schemas/401'
                "403":
                    description: Authorization failed due to insufficient permissions.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_403'
                                    - $ref: '#/components/schemas/403'
                "404":
                    description: The specified resource does not exist.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_404'
                                    - $ref: '#/components/schemas/404'
                "422":
                    description: The requested action could not be performed, semantically incorrect, or failed business validation.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_422'
                                    - $ref: '#/components/schemas/plans.activate-422'
                "500":
                    description: An internal server error has occurred.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/error_500'
                default:
                    $ref: '#/components/responses/default'
            parameters:
                - $ref: '#/components/parameters/id'
            security:
                - Oauth2:
                    - https://uri.paypal.com/services/subscriptions
            tags:
                - plans
            servers:
                - url: https://api-m.sandbox.paypal.com
                  description: PayPal Sandbox Environment
                - url: https://api-m.paypal.com
                  description: PayPal Live Environment
    /v1/billing/plans/{id}/deactivate:
        post:
            summary: Deactivate plan
            description: Deactivates a plan, by ID.
            operationId: plans.deactivate
            responses:
                "204":
                    description: A successful request returns the HTTP `204 No Content` status code with no JSON response body.
                "401":
                    description: Authentication failed due to missing authorization header, or invalid authentication credentials.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_401'
                                    - $ref: '#/components/schemas/401'
                "403":
                    description: Authorization failed due to insufficient permissions.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_403'
                                    - $ref: '#/components/schemas/403'
                "404":
                    description: The specified resource does not exist.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_404'
                                    - $ref: '#/components/schemas/404'
                "422":
                    description: The requested action could not be performed, semantically incorrect, or failed business validation.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_422'
                                    - $ref: '#/components/schemas/plans.deactivate-422'
                "500":
                    description: An internal server error has occurred.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/error_500'
                default:
                    $ref: '#/components/responses/default'
            parameters:
                - $ref: '#/components/parameters/id'
            security:
                - Oauth2:
                    - https://uri.paypal.com/services/subscriptions
            tags:
                - plans
            servers:
                - url: https://api-m.sandbox.paypal.com
                  description: PayPal Sandbox Environment
                - url: https://api-m.paypal.com
                  description: PayPal Live Environment
    /v1/billing/plans/{id}/update-pricing-schemes:
        post:
            summary: Update pricing
            description: Updates pricing for a plan. For example, you can update a regular billing cycle from $5 per month to $7 per month.
            operationId: plans.update-pricing-schemes
            responses:
                "204":
                    description: A successful request returns the HTTP `204 No Content` status code with no JSON response body.
                "400":
                    description: Bad Request. Request is not well-formed, syntactically incorrect, or violates schema.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_400'
                                    - $ref: '#/components/schemas/plans.update-pricing-schemes-400'
                "401":
                    description: Authentication failed due to missing authorization header, or invalid authentication credentials.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_401'
                                    - $ref: '#/components/schemas/401'
                "403":
                    description: Authorization failed due to insufficient permissions.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_403'
                                    - $ref: '#/components/schemas/403'
                "404":
                    description: The specified resource does not exist.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_404'
                                    - $ref: '#/components/schemas/404'
                "422":
                    description: The requested action could not be performed, semantically incorrect, or failed business validation.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_422'
                                    - $ref: '#/components/schemas/plans.update-pricing-schemes-422'
                "500":
                    description: An internal server error has occurred.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/error_500'
                default:
                    $ref: '#/components/responses/default'
            parameters:
                - $ref: '#/components/parameters/id'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/update_pricing_schemes_list_request'
                        examples:
                            update_pricing_schemes_list_request:
                                value:
                                    pricing_schemes:
                                        - billing_cycle_sequence: 1
                                          pricing_scheme:
                                            fixed_price:
                                                value: "50"
                                                currency_code: USD
                                        - billing_cycle_sequence: 2
                                          pricing_scheme:
                                            fixed_price:
                                                value: "100"
                                                currency_code: USD
                                            pricing_model: VOLUME
                                            tiers:
                                                - starting_quantity: "1"
                                                  ending_quantity: "1000"
                                                  amount:
                                                    value: "150"
                                                    currency_code: USD
                                                - starting_quantity: "1001"
                                                  amount:
                                                    value: "250"
                                                    currency_code: USD
            security:
                - Oauth2:
                    - https://uri.paypal.com/services/subscriptions
            tags:
                - plans
            servers:
                - url: https://api-m.sandbox.paypal.com
                  description: PayPal Sandbox Environment
                - url: https://api-m.paypal.com
                  description: PayPal Live Environment
    /v1/billing/subscriptions:
        post:
            summary: Create subscription
            description: Creates a subscription.
            operationId: subscriptions.create
            responses:
                "200":
                    description: A successful request returns the HTTP `200 OK` status code and a JSON response body that shows subscription details.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/subscription'
                            examples:
                                subscription:
                                    value:
                                        id: I-BW452GLLEP1G
                                        status: APPROVAL_PENDING
                                        status_update_time: "2018-12-10T21:20:49Z"
                                        plan_id: P-5ML4271244454362WXNWU5NQ
                                        plan_overridden: false
                                        start_time: "2018-11-01T00:00:00Z"
                                        quantity: "20"
                                        shipping_amount:
                                            currency_code: USD
                                            value: "10.00"
                                        subscriber:
                                            name:
                                                given_name: John
                                                surname: Doe
                                            email_address: customer@example.com
                                            payer_id: 2J6QB8YJQSJRJ
                                            shipping_address:
                                                name:
                                                    full_name: John Doe
                                                address:
                                                    address_line_1: 2211 N First Street
                                                    address_line_2: Building 17
                                                    admin_area_2: San Jose
                                                    admin_area_1: CA
                                                    postal_code: "95131"
                                                    country_code: US
                                        create_time: "2018-12-10T21:20:49Z"
                                        links:
                                            - href: https://www.paypal.com/webapps/billing/subscriptions?ba_token=BA-2M539689T3856352J
                                              rel: approve
                                              method: GET
                                            - href: https://api-m.paypal.com/v1/billing/subscriptions/I-BW452GLLEP1G
                                              rel: edit
                                              method: PATCH
                                            - href: https://api-m.paypal.com/v1/billing/subscriptions/I-BW452GLLEP1G
                                              rel: self
                                              method: GET
                "201":
                    description: A successful request returns the HTTP `201 Created` status code and a JSON response body that shows subscription details.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/subscription'
                            examples:
                                subscription:
                                    value:
                                        id: I-BW452GLLEP1G
                                        status: APPROVAL_PENDING
                                        status_update_time: "2018-12-10T21:20:49Z"
                                        plan_id: P-5ML4271244454362WXNWU5NQ
                                        plan_overridden: false
                                        start_time: "2018-11-01T00:00:00Z"
                                        quantity: "20"
                                        shipping_amount:
                                            currency_code: USD
                                            value: "10.00"
                                        subscriber:
                                            name:
                                                given_name: John
                                                surname: Doe
                                            email_address: customer@example.com
                                            payer_id: 2J6QB8YJQSJRJ
                                            shipping_address:
                                                name:
                                                    full_name: John Doe
                                                address:
                                                    address_line_1: 2211 N First Street
                                                    address_line_2: Building 17
                                                    admin_area_2: San Jose
                                                    admin_area_1: CA
                                                    postal_code: "95131"
                                                    country_code: US
                                        create_time: "2018-12-10T21:20:49Z"
                                        links:
                                            - href: https://www.paypal.com/webapps/billing/subscriptions?ba_token=BA-2M539689T3856352J
                                              rel: approve
                                              method: GET
                                            - href: https://api-m.paypal.com/v1/billing/subscriptions/I-BW452GLLEP1G
                                              rel: edit
                                              method: PATCH
                                            - href: https://api-m.paypal.com/v1/billing/subscriptions/I-BW452GLLEP1G
                                              rel: self
                                              method: GET
                "400":
                    description: Bad Request. Request is not well-formed, syntactically incorrect, or violates schema.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_400'
                                    - $ref: '#/components/schemas/subscriptions.create-400'
                "401":
                    description: Authentication failed due to missing authorization header, or invalid authentication credentials.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_401'
                                    - $ref: '#/components/schemas/401'
                "403":
                    description: Authorization failed due to insufficient permissions.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_403'
                                    - $ref: '#/components/schemas/403'
                "422":
                    description: The requested action could not be performed, semantically incorrect, or failed business validation.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_422'
                                    - $ref: '#/components/schemas/subscriptions.create-422'
                "500":
                    description: An internal server error has occurred.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/error_500'
                default:
                    $ref: '#/components/responses/default'
            parameters:
                - $ref: '#/components/parameters/prefer'
                - $ref: '#/components/parameters/paypal_request_id'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/subscription_request_post'
                        examples:
                            subscription_request_post:
                                value:
                                    plan_id: P-5ML4271244454362WXNWU5NQ
                                    start_time: "2018-11-01T00:00:00Z"
                                    quantity: "20"
                                    shipping_amount:
                                        currency_code: USD
                                        value: "10.00"
                                    subscriber:
                                        name:
                                            given_name: John
                                            surname: Doe
                                        email_address: customer@example.com
                                        shipping_address:
                                            name:
                                                full_name: John Doe
                                            address:
                                                address_line_1: 2211 N First Street
                                                address_line_2: Building 17
                                                admin_area_2: San Jose
                                                admin_area_1: CA
                                                postal_code: "95131"
                                                country_code: US
                                    application_context:
                                        brand_name: walmart
                                        locale: en-US
                                        shipping_preference: SET_PROVIDED_ADDRESS
                                        user_action: SUBSCRIBE_NOW
                                        payment_method:
                                            payer_selected: PAYPAL
                                            payee_preferred: IMMEDIATE_PAYMENT_REQUIRED
                                        return_url: https://example.com/returnUrl
                                        cancel_url: https://example.com/cancelUrl
            security:
                - Oauth2:
                    - https://uri.paypal.com/services/subscriptions
            tags:
                - subscriptions
            servers:
                - url: https://api-m.sandbox.paypal.com
                  description: PayPal Sandbox Environment
                - url: https://api-m.paypal.com
                  description: PayPal Live Environment
    /v1/billing/subscriptions/{id}:
        get:
            summary: Show subscription details
            description: Shows details for a subscription, by ID.
            operationId: subscriptions.get
            responses:
                "200":
                    description: A successful request returns the HTTP `200 OK` status code and a JSON response body that shows subscription details.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/subscription'
                "401":
                    description: Authentication failed due to missing authorization header, or invalid authentication credentials.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_401'
                                    - $ref: '#/components/schemas/401'
                "403":
                    description: Authorization failed due to insufficient permissions.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_403'
                                    - $ref: '#/components/schemas/403'
                "404":
                    description: The specified resource does not exist.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_404'
                                    - $ref: '#/components/schemas/404'
                "500":
                    description: An internal server error has occurred.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/error_500'
                default:
                    $ref: '#/components/responses/default'
            parameters:
                - $ref: '#/components/parameters/id'
                - $ref: '#/components/parameters/fields'
            security:
                - Oauth2:
                    - https://uri.paypal.com/services/subscriptions
            tags:
                - subscriptions
            servers:
                - url: https://api-m.sandbox.paypal.com
                  description: PayPal Sandbox Environment
                - url: https://api-m.paypal.com
                  description: PayPal Live Environment
        patch:
            summary: Update subscription
            description: Updates a subscription which could be in <code>ACTIVE</code> or <code>SUSPENDED</code> status. You can override plan level default attributes by providing customised values for plan path in the patch request.<br /> <ul> <li>You cannot update attributes that have already completed (Example - trial cycles canΓÇÖt be updated if completed).</li> <li>Once overridden, changes to plan resource will not impact subscription.</li> <li>Any price update will not impact billing cycles within next 10 days (Applicable only for subscriptions funded by PayPal account).</li> </ul> Following are the fields eligible for patch.<table><thead><tr><th>Attribute or object</th><th>Operations</th></tr></thead><tbody><tr><td><code>billing_info.outstanding_balance</code></td><td>replace</td></tr><tr><td><code>custom_id</code></td><td>add,replace</td></tr><tr><td><code>plan.billing_cycles[@sequence==n].<br/>pricing_scheme.fixed_price</code></td><td>add,replace</td></tr><tr><td><code>plan.billing_cycles[@sequence==n].<br/>pricing_scheme.tiers</code></td><td>replace</td></tr><tr><td><code>plan.billing_cycles[@sequence==n].<br/>total_cycles</code></td><td>replace</td></tr><tr><td><code>plan.payment_preferences.<br/>auto_bill_outstanding</code></td><td>replace</td></tr><tr><td><code>plan.payment_preferences.<br/>payment_failure_threshold</code></td><td>replace</td></tr><tr><td><code>plan.taxes.inclusive</code></td><td>add,replace</td></tr><tr><td><code>plan.taxes.percentage</code></td><td>add,replace</td></tr><tr><td><code>shipping_amount</code></td><td>add,replace</td></tr><tr><td><code>start_time</code></td><td>replace</td></tr><tr><td><code>subscriber.shipping_address</code></td><td>add,replace</td></tr><tr><td><code>subscriber.payment_source (for subscriptions funded<br/>by card payments)</code></td><td>replace</td></tr></tbody></table>
            operationId: subscriptions.patch
            responses:
                "204":
                    description: A successful request returns the HTTP `204 No Content` status code with no JSON response body.
                "400":
                    description: Request is not well-formed, syntactically incorrect, or violates schema.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_400'
                                    - $ref: '#/components/schemas/subscriptions.patch-400'
                "401":
                    description: Authentication failed due to missing authorization header, or invalid authentication credentials.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_401'
                                    - $ref: '#/components/schemas/401'
                "403":
                    description: Authorization failed due to insufficient permissions.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_403'
                                    - $ref: '#/components/schemas/403'
                "404":
                    description: The specified resource does not exist.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_404'
                                    - $ref: '#/components/schemas/404'
                "422":
                    description: The requested action could not be performed, semantically incorrect, or failed business validation.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_422'
                                    - $ref: '#/components/schemas/subscriptions.patch-422'
                "500":
                    description: An internal server error has occurred.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/error_500'
                default:
                    $ref: '#/components/responses/default'
            parameters:
                - $ref: '#/components/parameters/id'
            requestBody:
                required: true
                $ref: '#/components/requestBodies/patch_request'
            security:
                - Oauth2:
                    - https://uri.paypal.com/services/subscriptions
            tags:
                - subscriptions
            servers:
                - url: https://api-m.sandbox.paypal.com
                  description: PayPal Sandbox Environment
                - url: https://api-m.paypal.com
                  description: PayPal Live Environment
    /v1/billing/subscriptions/{id}/revise:
        post:
            summary: Revise plan or quantity of subscription
            description: Updates the quantity of the product or service in a subscription. You can also use this method to switch the plan and update the `shipping_amount`, `shipping_address` values for the subscription. This type of update requires the buyer's consent.
            operationId: subscriptions.revise
            responses:
                "200":
                    description: A successful request returns the HTTP `200 OK` status code and a JSON response body that shows subscription details.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/subscription_revise_response'
                            examples:
                                subscription_revise_response:
                                    value:
                                        plan_id: P-5ML4271244454362WXNWU5NQ
                                        plan_overridden: false
                                        shipping_amount:
                                            currency_code: USD
                                            value: "10.00"
                                        shipping_address:
                                            name:
                                                full_name: John Doe
                                            address:
                                                address_line_1: 2211 N First Street
                                                address_line_2: Building 17
                                                admin_area_2: San Jose
                                                admin_area_1: CA
                                                postal_code: "95131"
                                                country_code: US
                                        links:
                                            - href: https://www.paypal.com/webapps/billing/subscriptions/update?ba_token=BA-2M539689T3856352J
                                              rel: approve
                                              method: GET
                                            - href: https://api-m.paypal.com/v1/billing/subscriptions/I-BW452GLLEP1G
                                              rel: edit
                                              method: PATCH
                                            - href: https://api-m.paypal.com/v1/billing/subscriptions/I-BW452GLLEP1G
                                              rel: self
                                              method: GET
                                            - href: https://api-m.paypal.com/v1/billing/subscriptions/I-BW452GLLEP1G/cancel
                                              rel: cancel
                                              method: POST
                                            - href: https://api-m.paypal.com/v1/billing/subscriptions/I-BW452GLLEP1G/suspend
                                              rel: suspend
                                              method: POST
                                            - href: https://api-m.paypal.com/v1/billing/subscriptions/I-BW452GLLEP1G/capture
                                              rel: capture
                                              method: POST
                "400":
                    description: Bad Request. Request is not well-formed, syntactically incorrect, or violates schema.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_400'
                                    - $ref: '#/components/schemas/subscriptions.revise-400'
                "401":
                    description: Authentication failed due to missing authorization header, or invalid authentication credentials.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_401'
                                    - $ref: '#/components/schemas/401'
                "403":
                    description: Authorization failed due to insufficient permissions.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_403'
                                    - $ref: '#/components/schemas/403'
                "404":
                    description: The specified resource does not exist.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_404'
                                    - $ref: '#/components/schemas/subscriptions.revise-404'
                "422":
                    description: The requested action could not be performed, semantically incorrect, or failed business validation.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_422'
                                    - $ref: '#/components/schemas/subscriptions.revise-422'
                "500":
                    description: An internal server error has occurred.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/error_500'
                default:
                    $ref: '#/components/responses/default'
            parameters:
                - $ref: '#/components/parameters/id'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/subscription_revise_request'
                        examples:
                            subscription_revise_request:
                                value:
                                    plan_id: P-5ML4271244454362WXNWU5NQ
                                    shipping_amount:
                                        currency_code: USD
                                        value: "10.00"
                                    shipping_address:
                                        name:
                                            full_name: John Doe
                                        address:
                                            address_line_1: 2211 N First Street
                                            address_line_2: Building 17
                                            admin_area_2: San Jose
                                            admin_area_1: CA
                                            postal_code: "95131"
                                            country_code: US
                                    application_context:
                                        brand_name: walmart
                                        locale: en-US
                                        shipping_preference: SET_PROVIDED_ADDRESS
                                        payment_method:
                                            payer_selected: PAYPAL
                                            payee_preferred: IMMEDIATE_PAYMENT_REQUIRED
                                        return_url: https://example.com/returnUrl
                                        cancel_url: https://example.com/cancelUrl
            security:
                - Oauth2:
                    - https://uri.paypal.com/services/subscriptions
            tags:
                - subscriptions
            servers:
                - url: https://api-m.sandbox.paypal.com
                  description: PayPal Sandbox Environment
                - url: https://api-m.paypal.com
                  description: PayPal Live Environment
    /v1/billing/subscriptions/{id}/suspend:
        post:
            summary: Suspend subscription
            description: Suspends the subscription.
            operationId: subscriptions.suspend
            responses:
                "204":
                    description: A successful request returns the HTTP `204 No Content` status code with no JSON response body.
                "400":
                    description: Bad Request. Request is not well-formed, syntactically incorrect, or violates schema.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_400'
                                    - $ref: '#/components/schemas/subscriptions.suspend-400'
                "401":
                    description: Authentication failed due to missing authorization header, or invalid authentication credentials.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_401'
                                    - $ref: '#/components/schemas/401'
                "403":
                    description: Authorization failed due to insufficient permissions.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_403'
                                    - $ref: '#/components/schemas/403'
                "404":
                    description: The specified resource does not exist.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_404'
                                    - $ref: '#/components/schemas/404'
                "422":
                    description: The requested action could not be performed, semantically incorrect, or failed business validation.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_422'
                                    - $ref: '#/components/schemas/subscriptions.suspend-422'
                "500":
                    description: An internal server error has occurred.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/error_500'
                default:
                    $ref: '#/components/responses/default'
            parameters:
                - $ref: '#/components/parameters/id'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/subscription_suspend_request'
                        examples:
                            subscription_suspend_request:
                                value:
                                    reason: Item out of stock
            security:
                - Oauth2:
                    - https://uri.paypal.com/services/subscriptions
            tags:
                - subscriptions
            servers:
                - url: https://api-m.sandbox.paypal.com
                  description: PayPal Sandbox Environment
                - url: https://api-m.paypal.com
                  description: PayPal Live Environment
    /v1/billing/subscriptions/{id}/cancel:
        post:
            summary: Cancel subscription
            description: Cancels the subscription.
            operationId: subscriptions.cancel
            responses:
                "204":
                    description: A successful request returns the HTTP `204 No Content` status code with no JSON response body.
                "400":
                    description: Bad Request. Request is not well-formed, syntactically incorrect, or violates schema.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_400'
                                    - $ref: '#/components/schemas/subscriptions.cancel-400'
                "401":
                    description: Authentication failed due to missing authorization header, or invalid authentication credentials.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_401'
                                    - $ref: '#/components/schemas/401'
                "403":
                    description: Authorization failed due to insufficient permissions.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_403'
                                    - $ref: '#/components/schemas/403'
                "404":
                    description: The specified resource does not exist.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_404'
                                    - $ref: '#/components/schemas/404'
                "422":
                    description: The requested action could not be performed, semantically incorrect, or failed business validation.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_422'
                                    - $ref: '#/components/schemas/subscriptions.cancel-422'
                "500":
                    description: An internal server error has occurred.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/error_500'
                default:
                    $ref: '#/components/responses/default'
            parameters:
                - $ref: '#/components/parameters/id'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/subscription_cancel_request'
                        examples:
                            subscription_cancel_request:
                                value:
                                    reason: Not satisfied with the service
            security:
                - Oauth2:
                    - https://uri.paypal.com/services/subscriptions
            tags:
                - subscriptions
            servers:
                - url: https://api-m.sandbox.paypal.com
                  description: PayPal Sandbox Environment
                - url: https://api-m.paypal.com
                  description: PayPal Live Environment
    /v1/billing/subscriptions/{id}/activate:
        post:
            summary: Activate subscription
            description: Activates the subscription.
            operationId: subscriptions.activate
            responses:
                "204":
                    description: A successful request returns the HTTP `204 No Content` status code with no JSON response body.
                "400":
                    description: Bad Request. Request is not well-formed, syntactically incorrect, or violates schema.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_400'
                                    - $ref: '#/components/schemas/subscriptions.activate-400'
                "401":
                    description: Authentication failed due to missing authorization header, or invalid authentication credentials.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_401'
                                    - $ref: '#/components/schemas/401'
                "403":
                    description: Authorization failed due to insufficient permissions.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_403'
                                    - $ref: '#/components/schemas/403'
                "404":
                    description: The specified resource does not exist.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_404'
                                    - $ref: '#/components/schemas/404'
                "422":
                    description: The requested action could not be performed, semantically incorrect, or failed business validation.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_422'
                                    - $ref: '#/components/schemas/subscriptions.activate-422'
                "500":
                    description: An internal server error has occurred.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/error_500'
                default:
                    $ref: '#/components/responses/default'
            parameters:
                - $ref: '#/components/parameters/id'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/subscription_activate_request'
                        examples:
                            subscription_activate_request:
                                value:
                                    reason: Reactivating the subscription
            security:
                - Oauth2:
                    - https://uri.paypal.com/services/subscriptions
            tags:
                - subscriptions
            servers:
                - url: https://api-m.sandbox.paypal.com
                  description: PayPal Sandbox Environment
                - url: https://api-m.paypal.com
                  description: PayPal Live Environment
    /v1/billing/subscriptions/{id}/capture:
        post:
            summary: Capture authorized payment on subscription
            description: Captures an authorized payment from the subscriber on the subscription.
            operationId: subscriptions.capture
            responses:
                "200":
                    description: A successful request returns the HTTP `200 OK` status code and a JSON response body that shows subscription details.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/transaction'
                "202":
                    description: Request Accepted.
                "400":
                    description: Bad Request. Request is not well-formed, syntactically incorrect, or violates schema.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_400'
                                    - $ref: '#/components/schemas/subscriptions.capture-400'
                "401":
                    description: Authentication failed due to missing authorization header, or invalid authentication credentials.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_401'
                                    - $ref: '#/components/schemas/401'
                "403":
                    description: Authorization failed due to insufficient permissions.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_403'
                                    - $ref: '#/components/schemas/403'
                "404":
                    description: The specified resource does not exist.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_404'
                                    - $ref: '#/components/schemas/404'
                "422":
                    description: The requested action could not be performed, semantically incorrect, or failed business validation.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_422'
                                    - $ref: '#/components/schemas/subscriptions.capture-422'
                "500":
                    description: An internal server error has occurred.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/error_500'
                default:
                    $ref: '#/components/responses/default'
            parameters:
                - $ref: '#/components/parameters/paypal_request_id'
                - $ref: '#/components/parameters/id'
            requestBody:
                required: true
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/subscription_capture_request'
                        examples:
                            subscription_capture_request:
                                value:
                                    note: Charging as the balance reached the limit
                                    capture_type: OUTSTANDING_BALANCE
                                    amount:
                                        currency_code: USD
                                        value: "100"
            security:
                - Oauth2:
                    - https://uri.paypal.com/services/subscriptions
            tags:
                - subscriptions
            servers:
                - url: https://api-m.sandbox.paypal.com
                  description: PayPal Sandbox Environment
                - url: https://api-m.paypal.com
                  description: PayPal Live Environment
    /v1/billing/subscriptions/{id}/transactions:
        get:
            summary: List transactions for subscription
            description: Lists transactions for a subscription.
            operationId: subscriptions.transactions
            responses:
                "200":
                    description: A successful request returns the HTTP `200 OK` status code and a JSON response body that shows subscription details.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/transactions_list'
                "400":
                    description: Bad Request. Request is not well-formed, syntactically incorrect, or violates schema.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_400'
                                    - $ref: '#/components/schemas/subscriptions.transactions-400'
                "401":
                    description: Authentication failed due to missing authorization header, or invalid authentication credentials.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_401'
                                    - $ref: '#/components/schemas/401'
                "403":
                    description: Authorization failed due to insufficient permissions.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_403'
                                    - $ref: '#/components/schemas/403'
                "404":
                    description: The specified resource does not exist.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_404'
                                    - $ref: '#/components/schemas/404'
                "500":
                    description: An internal server error has occurred.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/error_500'
                default:
                    $ref: '#/components/responses/default'
            parameters:
                - $ref: '#/components/parameters/id'
                - $ref: '#/components/parameters/start_time'
                - $ref: '#/components/parameters/end_time'
            security:
                - Oauth2:
                    - https://uri.paypal.com/services/subscriptions
            tags:
                - subscriptions
            servers:
                - url: https://api-m.sandbox.paypal.com
                  description: PayPal Sandbox Environment
                - url: https://api-m.paypal.com
                  description: PayPal Live Environment
    /v1/catalogs/products:
        post:
            summary: Create product
            description: Creates a product.
            operationId: products.create
            responses:
                "200":
                    description: A successful request returns the HTTP `200 OK` status code and a JSON response body that shows product details.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/product'
                "201":
                    description: A successful request returns the HTTP `201 Created` status code and a JSON response body that shows product details.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/product'
                "400":
                    description: Bad Request. Request is not well-formed, syntactically incorrect, or violates schema.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_400'
                                    - $ref: '#/components/schemas/products.create-400'
                "401":
                    description: Authentication failed due to missing authorization header, or invalid authentication credentials.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_401'
                                    - $ref: '#/components/schemas/401'
                "403":
                    description: Authorization failed due to insufficient permissions.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_403'
                                    - $ref: '#/components/schemas/403'
                "422":
                    description: The requested action could not be performed, semantically incorrect, or failed business validation.
                    content:
                        application/json:
                            schema:
                                allOf:
                                    - $ref: '#/components/schemas/error_422'
                                    - $ref: '#/components/schemas/422'
                "500":
                    description: An internal server error has occurred.
                    content:
                        application/json:
                            schema:
                                $ref: '#/components/schemas/error_500'
                default:
                    $ref: '#/components/responses/default'
            parameters:
                - $ref: '#/components/parameters/prefer'
                - $ref: '#/components/parameters/paypal_request_id'
            requestBody:
                content:
                    application/json:
                        schema:
                            $ref: '#/components/schemas/product_request_POST'
                        examples:
                            product_request_POST:
                                value:
                                    name: Video Streaming Service
                                    description: Video streaming service
                                    type: SERVICE
                                    category: SOFTWARE
[...]
